In [2]:
from sympy import *

V = 2.00 # m^3
T1 = 293.00 # K
p1 = 200.00 # kPa
W = -710.00 # kJ
cv = 0.72 # kJ/kg·K

In [2]:
from sympy import *

T = 1000.00 # °F
P1 = 500.00 # lbf/in^2
v1 = 10.00 # ft/s
P2 = 14.70 # lbf/in^2
v2 = 4055.00 # ft/s

In [25]:
from sympy import *

p1 = 4.00 # bar
T1 = 600.00 # K
V1 = 0.17 # m^3
p2 = 1.50 # bar

In [31]:
# 9.4
# 这个题v2是改变的，但是没事，只改了m和W


# 这个题需要用到一个新的数据，在A22中，dertas=0时的pr可以使用的公式是
# 如果已知pr1，用pr2/pr1=p2/p1找到对应pr2，进而找到对应的所有数据
# 然后Q=0,W=-U
from sympy import *

p1 = 4.00 # bar
T1 = 600.00 # K
V1 = 0.20 # m^3
p2 = 1.50 # bar
##############################
# 先读第一个位置的表

u1=434.78
pr1=16.28


R=8314/28.97 #Nm/kg/K


p1=p1*1e5
p2=p2*1e5

m=p1*V1/R/T1
print('m        ',m)


pr2=pr1*p2/p1
# print(pr2) 6.105

T2=(pr2-5.775)/(6.245-5.775)*(460-450)+450
print('T2       ',T2)
u2=(pr2-5.775)/(6.245-5.775)*(329.97-322.62)+322.62


W=-m*(u2-u1)
print('W         ',W)

m         0.4645978670515596
T2        457.02127659574467
W          49.711675222686814